* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;

  font-family: "Roboto";
  font-style: normal;
}

.calculate-container {
  min-height: 100vh;
  width: 100%;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculate {
  width: 359px;
  height: 663px;
  background: #1c1c1c;
  border-radius: 39px;
  padding: 14px 10px;
}

.calculate-display {
  text-align: end;
  height: 200px;
  position: relative;

  h1 {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
  }
}

.calculate-controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 7px;
}

.calculate-control {
  width: 80px;
  height: 80px;

  background: #6d6d6d;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;

  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.2s linear;
  &:active {
    background-color: #cbcaca;
  }
}

.active {
  background: #fff !important;
  color: #ffb800;
}
.color {
  background: #ffb800;
  transition: 0.2s linear;
  &:active {
    background-color: #fff;
    color: #ffb800;
  }
}
.gray {
  background: #aeaeae;
}

.big {
  grid-column: 1 / span 2;
  width: 167px;
  border-radius: 140px;
  text-align: left;
  padding-left: 28px;
}

.bottom-controls {
  padding-top: 7px;
  display: flex;
  gap: 7px;
}
